/* width */
.project-details::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.project-details::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.project-details {
  background-color: #121315;
  border-left: 1px solid #ffffff3b;
  border-right: 1px solid #ffffff3b;
  overflow-y: auto;
  height: 68vh;
  .title {
    padding: 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
  }

  .chart-and-info {
    padding: 20px;
    border-bottom: 1px solid #ffffff3b;
    .chart{
      width: 50%;
      height: 50%;
      margin: auto;
    }
    .complete {
      margin-top: 20px;
      display: flex;
      color: rgba(255, 255, 255, 0.45);
      align-items: center;
      .icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      .text {
        text-align: left;

        .green {
          color: #25C678;
        }
      }
    }
  }

  .recent-activity {
    .title {
      font-size: 18px;
      font-weight: 500;
      color: white;
      margin-bottom: 0;
    }

    .activity-side {
      .user {
        padding: 15px 15px 0;
        border-bottom: 1px solid #ffffff3b;

        .image-and-name {
          .image {
            width: 40px;
            height: 40px;
          }
          .name{
            margin-left: 10px;
            font-size: 16px;
            font-weight: 500;
            color: white;
          }
          .time{
            margin-left: 10px;
            color: #FFFFFF73;
            font-size: 12px;
          }
        }
        .message-side{
          margin-top: 5px;
          .message{
            color: #FFFFFF73;
            font-size: 14px;
            .strong{
              font-weight: 500;
              color: rgba(255, 255, 255, 0.63);

            }
          }
        }
      }
    }
  }
  @media(max-width: 991px){
    .chart-and-info{
      .chart{
      width: 90%;
    }
    }
  }
}
