<div class="header">
  <div class="search-side">
    <img class="search-icon" src="../../../../assets/images/icons/search.svg" alt="">
    <input class="search" type="text" placeholder="Hey, What‘re you looking for?">
  </div>
  <div class="user-side">
    <div class="notifications">
      <img class="reminder" src="../../../../assets/images/icons/remind.svg" alt="">
      <span class="has-notification"></span>
    </div>
    <img class="user-img" src="../../../../assets/images/icons/user.svg" alt="">
    <div class="user-name-email">
      <span class="name">Loki Wong</span>
      <span class="email">Lokiwangs@hotmail.com</span>
    </div>
  </div>
</div>
