.sidenav{
  z-index: 9999;
  /* width */
  .content::-webkit-scrollbar {
    width: 5px;
  }

  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: #0165F9;
    border-radius: 10px;
  }

  height: 100vh;
  border-right: 1px solid #ffffff3b;
  .header{
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ffffff3b;
    .arrow-side{
      display: none;
      width: 30px;
      height: 30px;
      background: #0165f9;
      border-radius: 4px;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(20px, 20px);
      text-align: center;
      padding-top: 4px;
      .icon{
        width: 12px;
      }
    }
  }
  .content{
    overflow-y: auto;
    position: relative;
    height: 100%;
    .nav-ul{
      list-style: none;
      margin: 0;
      padding: 0 0 15px;
      border-bottom: 1px solid;
      &:last-child{
        border-bottom: 0;
      }
      .list{
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 43px;
        transition: all .5s;
        margin-top: 10px;
        &.active-route{
          background-color: rgba(255, 255, 255, 0.1);
      }
        &.sub-titles{
          color: #FFFFFFA6;
          pointer-events: none;
        }
        &:hover{
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.1);
          .item-and-icon{
            .title{
              color: white;
            }
          }
        }
        .count{
          display: inline-block;
          width: 20px;
          height: 20px;
          background: #0165F9;
          border-radius: 4px;
          color: white;
          text-align: center;
          font-size: 12px;
        }
        .item-and-icon{
          .icon{
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
          .title{
            transition: all .5s;
            color: #FFFFFFA6;
            font-size: 14px;
          }
        }
      }
    }
  }
@media(max-width: 991px){
  .header{
    .arrow-side{
      display: block;
    }
  }
}
}
