<div class="sidenav">
  <div class="header">
    <app-logo></app-logo>
    <span (click)="hideAndOpenSideNav()" class="arrow-side">
      <img class="icon" src="../../../../assets/images/icons/arrow-right.svg" alt="">
      </span>
  </div>
  <div class="content">
    <ul  class="nav-ul">
      <li class="list">
      <span class="item-and-icon">
        <img class="icon" src="../../../../assets/images/icons/my-task.svg" alt="">
        <span class="title">
          My Tasks
        </span>
      </span>
        <span class="count">
        6
      </span>
      </li>
      <li class="list">
      <span class="item-and-icon">
        <img class="icon" src="../../../../assets/images/icons/activities.svg" alt="">
        <span class="title">
          Activities
        </span>
      </span>
        <span class="count">
        6
      </span>
      </li>
    </ul>
    <ul routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:true}" class="nav-ul">
      <li class="list sub-titles">Main</li>
    <li routerLinkActive="active-route" [routerLink]="route.route" class="list" *ngFor="let route of routes">
      <span class="item-and-icon">
        <img class="icon" [src]="route.iconUrl" alt="">
        <span class="title">
          {{route.routeName}}
        </span>
      </span>
      <span *ngIf="myTasks && route.route==='my-tasks'" class="count">
        {{myTasks}}
      </span>
      <span *ngIf="activity && route.route==='activities'" class="count">
        {{activity}}
      </span>
      <span *ngIf="messages && route.route==='messages'" class="count">
        {{messages}}
      </span>
    </li>
    </ul>
    <ul class="nav-ul">
      <li class="list sub-titles">Recent projects</li>

      <li class="list" *ngFor="let recentProject of recentProjects">
        <span class="item-and-icon">
        <img class="icon" [src]="recentProject.iconUrl" alt="">
        <span class="title">
          {{recentProject.title}}
        </span>
      </span>
      </li>
    </ul>
  </div>
</div>
