.system {
  display: flex;
  justify-content: space-between;

  .sidenav {
    background-color: #121315;
    width: 280px;
    transition: all .5s;
    z-index: 9999;

    &.show-and-hide {
      transform: translateX(-200px);
    }
  }

  .header-and-outlet {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
      border-bottom: 1px solid #ffffff3b;
      height: 70px;
      background: #121315;
    }
    .project-and-outlet{
      overflow-y: auto;
      position: relative;
      height: 100%;
      padding: 30px;
      display: flex;
      justify-content: space-between;
      .project-side {
        width: 320px;
      }

      .outlet {
        width: 100%;
      }
    }
  }


  @media(max-width: 991px) {
    .sidenav {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
    }
  }
}
