<div #board class="board">
  <div #blocker class="blocks">
    <div class="header">
      <span class="title">To Do <span class="total">42</span></span>
      <div class="actions">
        <span class="plus action">
          <img src="../../../../../../../assets/images/icons/plus.svg" alt="">
        </span>
        <span class="dots action">
          <img src="../../../../../../../assets/images/icons/dots.svg" alt="">
        </span>
      </div>
    </div>
    <div #blockBody class="block-body">
      <span class="new-task">
        <img class="icon" src="../../../../../../../assets/images/icons/plus.svg" alt="">
        New Task
      </span>
      <div #task class="task">
        <img class="task-img" src="../../../../../../../assets/images/icons/task-img.svg" alt="">
        <div class="task-content">
          <div class="top-side">
          <div class="more">
            <span class="complexity hard">High</span>
            <span class="category">Copy Writing</span>
          </div>
          <div class="edit-side">
            <img class="icon" src="../../../../../../../assets/images/icons/dots.svg" alt="">
          </div>
          </div>
        </div>
        <div class="desc-and-more-side">
          <span class="title">Copy for Onboarding Screens</span>
          <p class="description">
            Engaging and welcoming tone of voice
            for new and existing users
          </p>
          <div class="date-side">
            <img class="icon" src="../../../../../../../assets/images/icons/calendar-task.svg" alt="">
            <span class="date">JAN 28</span>
          </div>

          <div class="users-and-attachment">
            <div class="users">
              <img class="icon" src="../../../../../../../assets/images/icons/small-person.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-1.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-2.svg" alt="">
            </div>
            <div class="attachment-side">
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/attachment.svg" alt="">
                42
              </span>
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/chat.svg" alt="">
                42
              </span>

              <div class="circle red">
                <span class="empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div #task class="task">
        <div class="task-content">
          <div class="top-side">
            <div class="more">
              <span class="complexity medium">Medium</span>
              <span class="category">Review</span>
              <span class="category">Design</span>
            </div>
            <div class="edit-side">
              <img class="icon" src="../../../../../../../assets/images/icons/dots.svg" alt="">
            </div>
          </div>
        </div>
        <div class="desc-and-more-side">
          <span class="title">Copy for Onboarding Screens</span>
          <p class="description">
            Engaging and welcoming tone of voice
            for new and existing users
          </p>
          <div class="date-side">
            <img class="icon" src="../../../../../../../assets/images/icons/calendar-task.svg" alt="">
            <span class="date">JAN 28</span>
          </div>

          <div class="users-and-attachment">
            <div class="users">
              <img class="icon" src="../../../../../../../assets/images/icons/small-person.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-1.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-2.svg" alt="">
            </div>
            <div class="attachment-side">
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/attachment.svg" alt="">
                42
              </span>
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/chat.svg" alt="">
                42
              </span>

              <div class="circle red">
                <span class="empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blocks">
    <div class="header">
      <span class="title">In Progress <span class="total">42</span></span>
      <div class="actions">
        <span class="plus">
          <img src="../../../../../../../assets/images/icons/plus.svg" alt="">
        </span>
        <span class="dots">
          <img src="../../../../../../../assets/images/icons/dots.svg" alt="">
        </span>
      </div>
    </div>
    <div #blockBody class="block-body">
      <span class="new-task">
        <img class="icon" src="../../../../../../../assets/images/icons/plus.svg" alt="">
        New Task
      </span>
      <div #task class="task">
        <div class="task-content">
          <div class="top-side">
            <div class="more">
              <span class="complexity low">Low</span>
              <span class="category">Copy Writing</span>
              <span class="category">Wireframing</span>
            </div>
            <div class="edit-side">
              <img class="icon" src="../../../../../../../assets/images/icons/dots.svg" alt="">
            </div>
          </div>
        </div>
        <div class="desc-and-more-side">
          <span class="title">Copy for Onboarding Screens</span>
          <p class="description">
            Engaging and welcoming tone of voice
            for new and existing users
          </p>
          <div class="date-side">
            <img class="icon" src="../../../../../../../assets/images/icons/calendar-task.svg" alt="">
            <span class="date">JAN 28</span>
          </div>

          <div class="users-and-attachment">
            <div class="users">
              <img class="icon" src="../../../../../../../assets/images/icons/small-person.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-1.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-2.svg" alt="">
            </div>
            <div class="attachment-side">
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/attachment.svg" alt="">
                42
              </span>
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/chat.svg" alt="">
                42
              </span>

              <div class="circle green">
                <span class="empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blocks">
    <div class="header">
      <span class="title">Review <span class="total">42</span></span>
      <div class="actions">
        <span class="plus">
          <img src="../../../../../../../assets/images/icons/plus.svg" alt="">
        </span>
        <span class="dots">
          <img src="../../../../../../../assets/images/icons/dots.svg" alt="">
        </span>
      </div>
    </div>
    <div #blockBody class="block-body">
      <span class="new-task">
        <img class="icon" src="../../../../../../../assets/images/icons/plus.svg" alt="">
        New Task
      </span>
      <div #task class="task">
        <div class="task-content">
          <div class="top-side">
            <div class="more">
              <span class="complexity medium">Medium</span>
              <span class="category">Copy Writing</span>
              <span class="category">Wireframing</span>
            </div>
            <div class="edit-side">
              <img class="icon" src="../../../../../../../assets/images/icons/dots.svg" alt="">
            </div>
          </div>
        </div>
        <div class="desc-and-more-side">
          <span class="title">Copy for Onboarding Screens</span>
          <p class="description">
            Engaging and welcoming tone of voice
            for new and existing users
          </p>
          <div class="date-side">
            <img class="icon" src="../../../../../../../assets/images/icons/calendar-task.svg" alt="">
            <span class="date">JAN 28</span>
          </div>

          <div class="users-and-attachment">
            <div class="users">
              <img class="icon" src="../../../../../../../assets/images/icons/small-person.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-1.svg" alt="">
              <img class="icon" src="../../../../../../../assets/images/icons/user-small-2.svg" alt="">
            </div>
            <div class="attachment-side">
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/attachment.svg" alt="">
                42
              </span>
              <span class="attachment">
                <img class="icon" src="../../../../../../../assets/images/icons/chat.svg" alt="">
                42
              </span>

              <div class="circle yellow">
                <span class="empty"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
