/* width */
.board::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.board::-webkit-scrollbar-thumb {
  background: #0165F9;
  border-radius: 10px;
}

/* width */
.block-body::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.block-body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.board {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow-x: hidden;

  .task {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    padding: 16px;
    margin-top: 20px;
    background: rgb(63, 63, 63);
    border-radius: 8px;
    height: max-content;
    width: max-content;

    &:hover {
      cursor: all-scroll;
    }

    .task-img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 14px;
    }

    .task-content {
      margin-top: 15px;

      .top-side {
        display: flex;
        justify-content: space-between;

        .category {
          border-radius: 38px;
          padding: 2px 20px;
          width: max-content;
          background: rgba(255, 255, 255, 0.1);
          color: #FFFFFFA6;
          margin-right: 10px;
        }

        .more {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          .category {
            margin-bottom: 10px;
          }

          .complexity {
            border-radius: 38px;
            padding: 2px 20px;
            width: max-content;
            margin-right: 10px;
            margin-bottom: 10px;

            &.hard {
              background: #FF4A5633;
              color: #FF4A56;
            }

            &.low {
              color: #25C678;
              background: rgba(37, 198, 120, 0.1);
            }

            &.medium {
              color: #EFD750;
              background: rgba(239, 215, 80, 0.2);
            }
          }
        }

        .edit-side {
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.1);
          text-align: center;
          padding: 5px;

          &:hover {
            cursor: pointer;
          }

          .icon {
            width: 17px;
            height: 17px;

          }

          .edit-remove {
            position: absolute;
            width: 100px;
            left: 0;
            top: 0;
            transform: translate(-88px, 31px);
            border-radius: 5px;
            height: 60px;
            background: #0165f9;
            box-shadow: 0 0 10px 8px #0165f92e;
            flex-direction: column;
            padding-top: 7px;
            display: none;
            &.show{
              display: flex;
            }
            .action {
              padding: 0 7px 0;
              width: 100%;
              text-align: left;
              color: white;
              font-weight: 500;
              height: 20px;
              margin-bottom: 5px;
              transition: all .5s;
              &:hover{
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }

    .desc-and-more-side {
      margin-top: 20px;

      .title {
        color: white;
        font-weight: 500;
        font-size: 17px;
      }

      .description {
        margin-top: 10px;
        font-weight: 500;
        color: #FFFFFFA6;
      }

      .date-side {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        margin-top: 20px;

        .icon {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }

        .date {
          color: #FFFFFFA6;
        }
      }

      .users-and-attachment {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .users {
          margin-bottom: 10px;
        }

        .attachment-side {
          display: flex;
          align-items: center;

          .attachment {
            margin-right: 10px;
            display: flex;
            align-items: center;
            color: #FFFFFFA6;

            .icon {
              margin-right: 5px;
              width: 16px;
              height: 16px;
            }
          }

          .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;

            &.green {
              background-color: #25C678;
            }

            &.yellow {
              background-color: #EFD750;
            }

            &.red {
              background-color: #FF4A56;
            }

            .empty {
              display: block;
              width: 13px;
              height: 13px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              background-color: #272829;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .blocks {
    width: 24%;
    background: rgb(255 255 255 / 4%);

    .header {
      padding: 0 30px;
      background-color: #121315;
      height: 50px;
      border: 1px solid #ffffff3b;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        color: #FFFFFFA6;
        display: flex;

        .total {
          margin-left: 10px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 4px;
          width: 27px;
          height: 20px;
          text-align: center;
          display: block;
        }
      }

      .actions {
        display: flex;
        align-items: center;

        .action {
          width: 20px;
          height: 20px;
          display: block;
          text-align: center;

          &:hover {
            cursor: pointer;
          }
        }

        .plus {
          margin-right: 20px;
        }
      }
    }

    .block-body {
      overflow-y: auto;
      position: relative;
      height: 60vh;
      padding: 15px 30px 60px;

      .new-task {
        //margin: 15px 20px 16px;
        width: max-content;
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        .icon {
          margin-right: 5px;
        }

        color: #FFFFFFD9;
        font-size: 14px;
      }

      .task {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none !important;
        padding: 16px;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 8px;
        height: max-content;
        width: 100%;
        transform: translate3d(0, 0, 0);

        &:hover {
          cursor: all-scroll;
        }

        .task-img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: 14px;
        }

        .task-content {
          margin-top: 15px;

          .top-side {
            display: flex;
            justify-content: space-between;

            .category {
              border-radius: 38px;
              padding: 2px 20px;
              width: max-content;
              background: rgba(255, 255, 255, 0.1);
              color: #FFFFFFA6;
              margin-right: 10px;
            }

            .more {
              display: flex;
              align-items: center;
              flex-wrap: wrap;

              .category {
                margin-bottom: 10px;
              }

              .complexity {
                border-radius: 38px;
                padding: 2px 20px;
                width: max-content;
                margin-right: 10px;
                margin-bottom: 10px;

                &.hard {
                  background: #FF4A5633;
                  color: #FF4A56;
                }

                &.low {
                  color: #25C678;
                  background: rgba(37, 198, 120, 0.1);
                }

                &.medium {
                  color: #EFD750;
                  background: rgba(239, 215, 80, 0.2);
                }
              }
            }

            .edit-side {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: rgba(255, 255, 255, 0.1);
              text-align: center;
              padding: 5px;

              &:hover {
                cursor: pointer;
              }

              .icon {
                width: 17px;
                height: 17px;

              }
            }
          }
        }

        .desc-and-more-side {
          margin-top: 20px;

          .title {
            color: white;
            font-weight: 500;
            font-size: 17px;
          }

          .description {
            margin-top: 10px;
            font-weight: 500;
            color: #FFFFFFA6;
          }

          .date-side {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            margin-top: 20px;

            .icon {
              width: 16px;
              height: 16px;
              margin-right: 5px;
            }

            .date {
              color: #FFFFFFA6;
            }
          }

          .users-and-attachment {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .users {
              margin-bottom: 10px;
            }

            .attachment-side {
              display: flex;
              align-items: center;

              .attachment {
                margin-right: 10px;
                display: flex;
                align-items: center;
                color: #FFFFFFA6;

                .icon {
                  margin-right: 5px;
                  width: 16px;
                  height: 16px;
                }
              }

              .circle {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: relative;

                &.green {
                  background-color: #25C678;
                }

                &.yellow {
                  background-color: #EFD750;
                }

                &.red {
                  background-color: #FF4A56;
                }

                .empty {
                  display: block;
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  background-color: #272829;
                  border-radius: 50%;
                }
              }
            }
          }
        }
      }
    }
  }

  @media(max-width: 991px) {
    .blocks {
      .block-body {
        padding: 15px 12px 60px;

        .task {
          position: relative;

          .desc-and-more-side {
            .users-and-attachment {
              flex-direction: column;
              align-items: baseline;
            }
          }
        }
      }
    }
  }
  @media(max-width: 767px) {
    flex-direction: column;
    overflow: auto;
    position: relative;
    height: 100vh;
    padding-bottom: 100%;
    .blocks {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
