<div class="auth">
  <app-logo></app-logo>
  <div class="form-side inner-side">
    <router-outlet></router-outlet>
  </div>
  <div class="desc-side inner-side">
    <p class="desc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci architecto commodi, culpa cum cumque
    deserunt dicta earum esse eum expedita fugiat in incidunt magnam nostrum obcaecati officiis perferendis porro
    quaerat quos similique tempore totam veritatis. Accusantium dolor ex excepturi hic illo maxime necessitatibus odio,
    provident unde voluptatibus. Autem dignissimos ea eum, exercitationem fuga id, impedit laborum nam neque nisi nulla
    praesentium quod rem rerum saepe unde voluptate? Alias amet dolores, eius esse est fugit id illum ipsam ipsum itaque
    libero, nobis officiis omnis placeat qui quia quidem quo repellat sed, temporibus veritatis voluptas voluptate!
    Aperiam eveniet ipsum minus nostrum!</p>
  </div>
</div>
