/* width */
.desc-side::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.desc-side::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
.desc-side::-webkit-scrollbar-thumb {
  background: #3f51b5;
  border-radius: 10px;
}

/* Handle on hover */
.desc-side::-webkit-scrollbar-thumb:hover {
  background: #3f51b5;
}
.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-height: 50vh;
  background-color: #9f9f9f40;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px white;
  border-radius: 15px;
  padding: 20px 40px 30px;
  .form-side{
    width: 100%;
  }
  .inner-side{
    &.desc-side{
      overflow-y: scroll;
      max-height: 150px;
      min-height: 150px;
      margin-top: 10px;
      padding-right: 10px;
    }
    .desc{
      color: white;
      font-size: 17px;
      text-align: justify;
      line-height: 27px;
    }
  }

}
@media screen and (max-width: 991px){
  .auth{
    width: 90vw;
  }
}
