.project {
  .project-path {
    color: #FFFFFFA6;

    .path {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:last-child {
        pointer-events: none;
      }
    }
  }

  .project-name-and-actions {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    .title {
      color: white;
      font-weight: 700;
      font-size: 20px;
      padding-top: 7px;
      white-space: nowrap;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .users {
      display: flex;
      align-items: center;

      .plus-more {
        background: gray;
        border-radius: 50%;
        color: white;
        display: block;
        width: 28px;
        height: 28px;
        text-align: center;
        padding: 4px;
        transform: translateX(30px);
        z-index: 99;

        &:hover {
          cursor: pointer;
        }
      }

      .user-img {
        width: 28px;
        height: 28px;

        &:nth-child(2) {
          transform: translateX(22px);
          z-index: 9;
        }

        &:nth-child(3) {
          transform: translateX(11px);
        }
      }

      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 30px;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 20px;
      }
    }

    .user-add-dots {
      display: flex;
      align-items: center;

      .circle {
        padding-top: 2px;
        width: 24px;
        height: 24px;
        background: rgba(255, 255, 255, 0.1);
        display: block;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  ::ng-deep {
    .mat-raised-button {
      background-color: #0165f9;
    }
  }
  @media(max-width: 455px){
    .project-name-and-actions{

      flex-direction: column;
      .actions{
        margin-top: 20px;
        .users{
          .user-img {
            transform: translate(0) !important;
          }
          .plus-more{
            transform: translate(0);
          }
          &:after{
            margin: 0 5px;
          }
        }
      }
    }
  }
}
